<header class="main-header">
    <div class="header-container">
        <a href="/" class="header-logo">
            <span class="logo-text">Pediloo</span>
        </a>
        <nav class="header-nav">
            <a href="/login" class="nav-link nav-btn-empty">Iniciar Sesión</a>
            <a href="/register" class="nav-link nav-btn">Registrarse</a>
        </nav>
    </div>
</header>
