<%# 
  Parámetros:
  - message: "¿Ya tienes cuenta?" o "¿No tienes cuenta?"
  - linkText: "Inicia Sesión" o "Regístrate"
  - url: El destino del link (/login o /register)
%>

<p>
    <%= locals.message %>
    <a href="<%= locals.url || '#' %>" class="log-reg-link">
        <%= locals.linkText %>
    </a>
</p>