<%# 
  Parámetros:
  - message: "¿Ya tienes cuenta?"
  - linkText: "Inicia Sesión"
  - url: URL de destino
%>

<p class="log-reg-footer">
    <%= locals.message %>
    <a href="<%= locals.url || '#' %>" class="log-reg-link">
        <%= locals.linkText %>
    </a>
</p>
