<div class="search-bar">
    <div class="search-wrapper">
        <i class="search-icon">🔍</i>
        <input type="text" placeholder="¿Qué vas a comer hoy?" class="search-input">
        <%- include('../../atoms/home/action-button', { text: 'Buscar', classList: 'search-btn' }) %>
    </div>
</div>
