<div class="product-info">
    <%- include('../../atoms/home/product-title', { title: producto.title, tag: 'h1' }) %>
    <%- include('../../atoms/product/product-description', { description: producto.description }) %>
    <div class="purchase-action">
        <%- include('../../atoms/home/product-price', { price: producto.price }) %>
        <%- include('../../atoms/home/action-button', { text: 'Agregar al Carrito', classList: 'btn-lg btn-primary' }) %>
    </div>
</div>
